<br><br>
<div class="vertical-align-wrap">
    <div class="vertical-align-middle">
        <div class="auth-box lockscreen clearfix">
            <div class="col-md-3">
                <a [routerLink]="['/login']" class="btn btn-primary btn-block"><i class="fa fa-sign-in"></i> LOGIN</a>
            </div>
            <div class="content">
                <h1 class="sr-only">ClassRoom Space</h1>
                <div class="user text-center">
                    <img src="{{ imgURL != null ? imgURL : imageSrc }}" class="img-circle img-signup" alt="Avatar">
                </div>
                <form [formGroup]="form">
                    <div class="form-group col-md-6">
                        <input [ngClass]="{'uk-form-danger': form.controls.firstName.invalid && !form.controls.firstName.pristine}" type="text" class="form-control" formControlName="firstName" placeholder="Nome...">
                    </div>
                    <div class="form-group col-md-6">
                        <input [ngClass]="{'uk-form-danger': form.controls.lastName.invalid && !form.controls.lastName.pristine}" type="text" class="form-control" fromControlName="lastName" placeholder="Sobrenome...">
                    </div>
                    <div class="form-group col-md-6">
                        <input [ngClass]="{'uk-form-danger': form.controls.document.invalid && !form.controls.document.pristine}" mask="###.###.###-##" type="text" class="form-control" formControlName="document" placeholder="CPF...">
                    </div>
                    <div class="form-group col-md-6">
                        <input [ngClass]="{'uk-form-danger': form.controls.email.invalid && !form.controls.email.pristine}" type="email" class="form-control" formControlName="email" placeholder="E-mail...">
                    </div>
                    <div class="form-group col-md-6">
                        <input [ngClass]="{'uk-form-danger': form.controls.password.invalid && !form.controls.password.pristine}" type="password" class="form-control" formControlName="password" placeholder="Senha...">
                    </div>
                    <div class="form-group col-md-6">
                        <input mask="(##) # ####-####" type="text" class="form-control" formControlName="phone" placeholder="Telefone...">
                    </div>
                    <div class="form-group col-md-12">
                        <input (change)="onImageSelected($event)" type="file" formControlName="image" class="form-control">
                    </div>
                    <div class="form-group col-md-12 text-right">
                        <button [disabled]="form.invalid" (click)="submit()" type="submit" class="btn btn-success btn-block">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>