<div class="modal fade" id="confirmaDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body">
                <div class="text-center">
                    <h1 class="text-danger"><i class="fa fa-warning"></i></h1>
                    <h4>Tem certeza que deseja deletar este registro?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button (click)="delete(id)" type="button" class="btn btn-danger">Deletar</button>
            </div>
        </div>
    </div>
</div>