<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="brand">
		<a [routerLink]="['/']"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
	</div>
	<div class="container-fluid">
		<div class="navbar-btn">
			<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
		</div>
		<div id="navbar-menu">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png"
							class="img-circle" alt="Avatar"> <span>Admin</span> <i
							class="icon-submenu lnr lnr-chevron-down"></i></a>
					<ul class="dropdown-menu">
						<li><a [routerLink]="['/users/profile']"><i class="lnr lnr-user"></i> <span>Meu Perfil</span></a></li>
						<li><a href="#"><i class="lnr lnr-cog"></i> <span>Configurações</span></a></li>
						<li><a [routerLink]="['/logout']"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- END NAVBAR -->
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
        <li><a [routerLink]="['/']" routerLinkActive="active"><i class="lnr lnr-home"></i> <span>Home</span></a></li>
        <li>
					<a href="#subColleges" data-toggle="collapse" class="collapsed"><i class="fa fa-university"></i>
						<span>Faculdade</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="subColleges" class="collapse ">
						<ul class="nav">
							<li><a [routerLink]="['/colleges']" routerLinkActive="active">Lista de Faculdades</a></li>
							<li><a [routerLink]="['/blocks']" routerLinkActive="active">Blocos</a></li>
							<li><a [routerLink]="['/equipments']" routerLinkActive="active">Equipamentos</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#subUsers" data-toggle="collapse" class="collapsed"><i class="lnr lnr-user"></i>
						<span>Usuários</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="subUsers" class="collapse ">
						<ul class="nav">
							<li><a [routerLink]="['/users']" routerLinkActive="active">Lista</a></li>
							<li><a [routerLink]="['/users/create']" routerLinkActive="active">Novo</a></li>
						</ul>
					</div>
        </li>
        <li><a [routerLink]="['/courses']" routerLinkActive="active"><i class="fa fa-graduation-cap"></i> <span>Cursos</span></a></li>
        <li><a [routerLink]="['/professors']" routerLinkActive="active"><i class="fa fa-id-card"></i> <span>Professores</span></a></li>
			</ul>
		</nav>
	</div>
</div>
<!-- END LEFT SIDEBAR -->
