<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="brand">
		<a [routerLink]="['/']"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
	</div>
	<div class="container-fluid">
		<div class="navbar-btn">
			<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
		</div>
		<form class="navbar-form navbar-left">
			<div class="input-group">
				<input type="text" value="" class="form-control" placeholder="Pesquisar...">
				<span class="input-group-btn"><button type="button" class="btn btn-primary">Ir</button></span>
			</div>
		</form>
		<div id="navbar-menu">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
						<i class="lnr lnr-alarm"></i>
						<span class="badge bg-danger">5</span>
					</a>
					<ul class="dropdown-menu notifications">
						<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System
								space is almost full</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png"
							class="img-circle" alt="Avatar"> <span>Admin</span> <i
							class="icon-submenu lnr lnr-chevron-down"></i></a>
					<ul class="dropdown-menu">
						<li><a [routerLink]="['/users/profile']"><i class="lnr lnr-user"></i> <span>Meu Perfil</span></a></li>
						<li><a href="#"><i class="lnr lnr-cog"></i> <span>Configurações</span></a></li>
						<li><a [routerLink]="['/logout']"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
					</ul>
				</li>
				<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
			</ul>
		</div>
	</div>
</nav>
<!-- END NAVBAR -->
<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>
			<ul class="nav">
        <li><a [routerLink]="['/']" routerLinkActive="active"><i class="lnr lnr-home"></i> <span>Home</span></a></li>
        <li>
					<a href="#subColleges" data-toggle="collapse" class="collapsed"><i class="fa fa-building"></i>
						<span>Faculdade</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="subColleges" class="collapse ">
						<ul class="nav">
							<li><a [routerLink]="['/colleges']" routerLinkActive="active">Lista</a></li>
							<li><a [routerLink]="['/colleges/create']" routerLinkActive="active">Novo</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#subUsers" data-toggle="collapse" class="collapsed"><i class="lnr lnr-user"></i>
						<span>Usuários</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="subUsers" class="collapse ">
						<ul class="nav">
							<li><a [routerLink]="['/users']" routerLinkActive="active">Lista</a></li>
							<li><a [routerLink]="['/users/create']" routerLinkActive="active">Novo</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</div>
<!-- END LEFT SIDEBAR -->
